/* --- sidebar ---*/
.sidebar{ 
	background:#333;
}                     

.header h1{  
	margin:10px;
	color:#333;
} 

/* content */

.main_content{
	background:#FBFBFB;
}   

.content{
	padding:10px;
}

/*  nav */ 


.nav ul li{
	float:left;
}

.nav ul a{  
	margin:0px 10px;
	display:block; 
	padding:5px 50px;
	background:#0099FF;
	color:#fff;     
	text-decoration: none;
} 

.nav ul a:hover{  
	background:#FBFBFB;
	color:#333;     
} 

.nav ul li.current a{  
	background:#FBFBFB;
	color:#333;     
}  
     
/*-- table --*/  

table{
	width:100%;
} 

table thead tr th, table tfoot tr th {
	background:#eee;    
	font-size: 14px;
	padding: 4px;
}

table td{  
	border-bottom:1px solid #eee;        
	font-size:10px;
	color: #565770;
	padding: 7px 7px 5px;
	vertical-align: top;
	height:35px;
}