*{
	margin:0;
	padding:0;
}

#spinner{
	display:none;
} 

header,section,footer{
	display:block;
}

h1,h2,h3,h4{ 
	color:#333;
	font-family:'微软雅黑' arial '宋体'; 
} 

h1{
	font-size:1.8em;
}      

div.field {
  margin: 10px 0;
  padding: 10px;
}

.submit{
	font-family:'微软雅黑' arial '宋体';   
	background: url(/images/bg/btn-short.png);     
	height:26px;
	width:100px;
	color: #fff;
	font-size:12px;
	letter-spacing:4px;
	cursor: pointer;  
	margin-bottom:5px;
	border:0 none; 
	margin-left:10px;     
}

abbr{ color:#cc0000;padding-top:.2em;}

form label{
	font-size:12px;
	display:inline;
}

div.qustion_label{
	margin-bottom:10px;
}

div.question p{
	margin:5px 0;
}



/* ---- page nav ----*/
#page_nav{
	height:20px;
   	padding:5px 10px 15px 0px;  
   *padding:5px 10px 0px 0px;
	margin:10px 0px 15px;   
	border-bottom:1px solid #ccc;    
}

#page_nav span{ 
	font-family:'微软雅黑' arial '宋体';      
	float:left;
	color:#333;   
	font-size:1.9em; 
	line-height:28px; 
	font-weight:bold;
	padding-bottom:10px;
}   

.page_guide{ 
	height:12px;     
	padding:10px 0;
}               

#page{
	margin:10px 40px;
}

#preview{     
	font-size:14px;
	padding:10px;     
	border:1px solid #FFCC00;
	background:#FFFF99;
}

#footer{              
	border-top:1px solid #ccc;
	margin:10px 0;            
	padding:10px 0;
	text-align:center;
}  

#footer span{
	font-size:10px;
	color:#999999;
}