form.conforge div.field label{ float:left;width:12em;font-size:12px;color:#514c48;text-align:right; margin-right:2em;}  

.edit_form input[type=text] {
  padding: 2px 5px;
  height:  22px;
  font-size: 18px;
}

.edit_form textarea.form {
  width: 680px;
  height: 46px;
  padding: 2px 5px;
  font-size: 14px;
}

.field_form { background-color: #FFF4C2; padding: 10px; margin-top: 10px;}
label {padding-right: 10px;}

div.field {
  margin: 10px 0;
  padding: 10px;
}

div.edit:hover {
  background-color: #FFF9DD;
}

#form{        
	width:800px;
	padding:10px;  
	margin:10px 0px;
	position:relative;
	height:488px;        
	overflow:auto;
}           

.edit{
	cursor: move;
}        

.opration{
	float:right;
}   

.placeholder{
	background:#eee;  
	height:60px;
}        

/* --- result ------ */
#result{
 	width:800px;
	padding:10px;  
	margin:10px 0px;
	position:relative;
	height:520px;        
	overflow:auto;   
}    


    