body{
	font-family:arial;
	font-size:12px;     
	color:#333;
  	background:#efefef;
}

/*  ------ form show cotainer -------- */

#form_container{ 
	padding:20px;
	margin:20px auto;
	width:45em;
	background:#fff;
	border:1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.desc{
	line-height:150%;
}

.desc p{
	padding:10px 0;  
	line-height:150%;
}

.error{
   color:red;
}      

form label{
	color:#000;
	font-weight:bold;
}

.support{ 
	display:block;
	padding:20px; 
	color:#bbb;
	 text-decoration: none;   
}

.prompt{
	color:#ccc;
}