body{
	font-family: arial, sans-serif;
	font-size:12px;     
	color:#333; 
  	background:url(/images/bg/bg.png);
}

/*  ------ form show cotainer -------- */

#form_container{ 
	margin:20px auto;
	width:45em;
	moz-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
}

#form_container form {
	margin: 10px;
}

.field {
}     

.question{
	 padding:10px;      
}                       

.desc{
	padding:0 10px;
	font-size:12px;
}

.desc p{           
	margin:0;
	padding:10px;  
}

.error{
   color:red;
}      

form label{  
	font-weight:bold;
}

.support{ 
	display:block;
	padding:20px; 
	color:#777;
	text-align:center;
	text-decoration: none;   
}

.prompt{
	color:#777;
	font-size:13px;  
	display:block;
	padding-top:3px;
}

#form_header h1{   
	padding:15px;   
	font-family: 'Microsoft YaHei' '微软雅黑' '雅黑' arial '宋体'; 
	font-size:24px;
}   

#form_top{
	padding:10px;
}

#from_top img{
	float:left;
}
#form_top .paginaion{
	width:200px;
	text-align:right;
	float:right;
}

#form_contetn{
	padding:20px;
}

h3{
	font-size:12px;
	font-family:arial;
}


#guide{        
	display:block;
	margin:10px;
	text-align:center;
}