*{
	margin:0;
	padding:0;
}            

img{
	border:0;
}   

header,section,footer{
	display:block;
}

body{       
	font-family:Arial, sans-serif;
	font-size:12px;     
	color:#666;
	background:#F3F3F3;
}                  

.header{   
	height:40px;
	width:100%;     
	background:#fff; 
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
	} 
	
.logo{   
	float:left;
}     

.login{      
	padding:10px;
	float:right;
} 

.container{   
	padding:10px;
	background:#fff;
}   
          
#content{       
	padding:20px;
	background:#fff;     
	position:relative;
	margin:0px auto;
	overflow:auto;
}

#sidebar{        
	position:relative;
	margin:10px 10px 10px 73%;
	padding:10px; 
}

.clear-both{
	clear:both;
	font-size:0px;
	line-height:0px;
	height:0px;
}  

#footer{ 
	margin:20px;            
	text-align:center;
}  

#footer span{
	font-size:10px;
	color:#999999;
}

h1,h2,h3,h4{ 
	color:#333;
	font-family:'微软雅黑' arial '宋体'; 
}    

.notes{       
	margin-bottom:10px;
	padding:10px;
	background:#EFEFEF;
	color:#333;
}    

.right{
	text-align:right;
} 

#saving {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	background-color:#FAD163;
	color:#000000;
	font-weight:bold;
	padding:0.4em 0.8em;
	position:absolute;
	right:50%;
	top:0;
	z-index:2;
}

/* ---- href ------*/    
a {
	font-size: 12px;
	color:#333;
}    

a:link {
	color: #333;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	color: #0099FF; 
}
a:active {
	text-decoration: none;
	color: #0099FF;
}
a:visited { 
	text-decoration: none;  
	color: #333;
}

.ag:link {
	color: #0099FF;
	text-decoration: none;
}
a.ag:hover {
	text-decoration: none;
	color: #fff;  
	background:#0099FF;
}
.ag:active {
	text-decoration: none;   
	color: #fff;  
	background:#0099FF;
}
.ag:visited {
	text-decoration: none;
	color: #0099FF;
}

/* table */
table.grid {  
	width:100%;
	margin-bottom:10px;
}     

.info_grid{    
	width:500px;  
	margin:0 auto;
	overflow:auto;
}

.row {
	background:#DDD; 
	width:400px; 
	float:right; 
	overflow:auto; 
	margin-left: 18px; 
	margin-bottom: 20px;
}

div.info_item{  
	overflow:hidden; 
	height:15px;
	width:120px;
	padding:0;
	margin:0;
}
    
table.grid thead tr th, table.grid tfoot tr th {
	background:#EFEFEF;  
	font-size: 14px;  
	font-weight:normal;
	padding: 12px 5px;  
	text-align:left;
}

table.grid tbody td { 
	color: #666; 
	padding: 10px 5px; 
	vertical-align: top; 
	border-bottom:1px dotted #CCCCCC;
}         

.tablenav{  
	margin:10px;
	text-align:center;
} 

table.grid td.title a{  
	color:#333;
	font-family:'微软雅黑' arial '宋体';   
	font-size:14px;
} 

table.grid td.title span{
	margin:0 10px; 
	color:#999999;
}    

table.grid tbody td.opt a { 
	margin-right:10px;
}

/* --- flash -----*/ 
#flash-message{    
	margin:0px auto 10px;
	width:400px;
	position:relative;
	top:5px;
	}       


/* input setting*/ 
.submit{
	font-family:'微软雅黑' arial '宋体';   
	background: url(/images/bg/btn-short.png);     
	height:26px;
	width:100px;
	color: #fff;
	font-size:12px;
	letter-spacing:4px;
	cursor: pointer;  
	margin-bottom:5px;
	border:0 none; 
	margin-left:10px;     
}

input[type='text'],input[type='password'],textarea{
	padding:2px;
	background:#F6F6F6;
	border:1px solid #ccc;  
}

textarea {
	width: 480px;
	height: 100px;
}

input.inputFocus {
	background: #fff;
}

.text_input{
	width:240px;
}       

/* ---  edit form -----*/    
#form_wrapper{
	background:#F3F3F3;
}

#form_title{     
	height:30px;
	font-size:18px;
	font-weight:bold;
}

#form_description{
	background:#F6F6F6;
	font-size:12px;  
	width: 580px;
  	height: 46px;
  	padding: 2px 5px;
} 

             
#form{       
 	background:#fff;    
	min-height:400px;
	position:relative;
	overflow:auto; 
	padding:20px;
	margin:0px;
}               


* html #form{
	height:200px;
}

#form p,.setting_form p{
	margin-bottom:10px;
}   

.form_oprate{  
	position:relative;     
	background:#74A7DE;
	height:30px;
	padding:5px 10px;
	border-bottom:1px solid #eee;
} 

.form_preview{ 
	position:relative; 
	background:#74A7DE;
	padding:5px 10px; 
	border-top:1px solid #eee;
	height: 30px;
}


.field_form { padding: 10px; margin-top: 10px;}

div.field {
  margin: 10px 0;
  padding: 10px;
}

div.edit:hover {
  background-color: #FDF2C6;
}

.edit{
	cursor: move;
}        

.opration{
	float:right;
}   

.placeholder{
	background:#eee;  
	height:60px;
}          

.q_title{     
	margin:0px; 
	padding:0px;
}   

.prompt{
	color:#eee;
}      



/* ----  form field setting -----*/
#form_title{     
	height:30px;
	font-size:18px;
	font-weight:bold;
}

#form_description{
	background:#F6F6F6;
	font-size:12px;  
	width: 580px;
  	height: 46px;
  	padding: 2px 5px;
} 

#form_description:hover,#form_description:focus{
	background:#fff;
}  

.new{
	float:left;
}

.setting{
	float:right;
}


/*  ------ form show cotainer -------- */

#form_container{ 
	padding:10px;
	margin:20px auto;
	width:45em;
	background:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#spinner{
	display:none;
}

/* ---- page nav ----*/
#page_nav{
	height:20px;
   	padding:5px 10px 15px 10px;  
   *padding:5px 10px 15px 10px;
	margin:10px 0px 5px;
	border-bottom:1px solid #ddd;   
}

#page_nav span{ 
	font-family:'微软雅黑' arial '宋体';      
	float:left;
	color:#333;   
	font-size:2.1em; 
	line-height:28px; 
	font-weight:bold;
}


#page_nav a,#page_nav a:visited{  
	color:#0099FF;       
	line-height:28px;
	font-size:28px;
}

/* ---- pagination ----*/

.flickr_pagination {
  text-align: center;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
	height:14px;
 	background:url(/images/bg/pagination.jpg) repeat-x;}
  .flickr_pagination span.disabled {
	background:none;
    color: #AAA; }
  .flickr_pagination span.current {
	
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
	padding:0px 5px;
    border: 1px solid #646464;
    color: #000;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0395FC;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page { }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

.flickr_pagination  em{
	font-style:normal;
}