<p>
  <%= text_field_tag "options[]", option.value %>
  <%= link_to_remote '删除', :update => "flash", 
                :url => form_field_option_path(parent, field, option, :edit_key => parent.edit_key),
                :method => 'delete',
                :success => "$('#option#{option.id}').fade();" %>
</p>