<br class="clear-both" />
<div id='footer'>
  <a href="/intro">介绍</a> |
  <a href="/about">关于我们</a> | 
  <a href="/contact">联系我们</a> |
  <a href="/feedbacks/new">意见/建议</a> |
  <a href="http://www.51qiangzuo.com">抢座网</a>
  <br /> <br />
  <span>
  &copy; 抢答网 2010 
  <a href="http://www.miibeian.gov.cn/">沪ICP备10010832号</a>
   上海沙路网络旗下产品
  </span>
</div>