<div style='clear:both;'></div>
<div id='footer'>
    <a href="/intro">Introduction</a> |
    <a href="/about">About</a> | 
    <a href="http://www.51qiangda.com/forms/4c15cee7b3e57c07fa00000f">Contact</a> |
    <a href="http://www.51qiangda.com/forms/4c0608cab3e57c5758000001">Feedback</a> |
    <a href="/services">Services</a>
    <br /> <br />
    <span>
    &copy; ThunderSurvey 2010 
    a <a href="http://www.sandsroad.com">sandsroad</a> product.
    </span>
</div>
