<header class='header'>
  <div class="logo">
    <a href="/">抢座网表单</a>
  </div>
  <nav class='login'>
    <% if logged_in? %>	
      你好 <%=current_user.login %> <%= link_to '注销', logout_path, :method => 'delete' %>
    <% else %>
      <%= link_to '立即登录', login_path %>
    <% end %>
  </nav>
</header>