<div class='intro grid_16'>
    抢答网让您可以轻松创建在线表单，调查问卷，收集用户反馈。操作界面类似Google表单，让表单的创建如行云流水，简洁干净的问卷页面，让用户爱上问答!
</div>
<div class='guide grid_7'>
  <a href='/forms'>创建表单</a>
</div>

<% if false %>
<article>
 <header> 
  <h1>抢答网</h1>
 </header>       
 <p>抢答网让您可以轻松创建在线表单，调查问卷，收集用户反馈，类似Google Form的操作界面，让表单的创建如行云流水，简洁干净的问卷页面，让用户爱上问答!现在就开始</a>吧！</p>
</article>  
<% end %>

