<% content_for :headers do %>
  <%= stylesheet_link_tag 'page' %>  
<% end %>                            

<div id="page_nav">
   <span><%=@page.title%></span> 
</div>

<div id='page'>
  <%= raw(@page.body) %>    
</div>

<% content_for :sidebar do %>
  <ul class='sidebar_nav'>          
    <% Page.all.each do |page| %>
    <li><%=link_to page.title,"/#{page.slug}"%></li>         
    <% end %>
  </ul>
<% end %>