<%= content_for :headers do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){     
      $('#opt .button').button();
     })    
  </script>
<% end %>
      
<%= render :partial => 'chart',:collection => @form.fields,:as => :field %>

<% content_for :sidebar do %>  
<div class='box'>
  <ul class='sidebar_nav'>
    <li><%=link_to '返回结果页',form_rows_path(@form, :edit_key => @form.edit_key),:class => 'button'%>   </li>
  </ul>
</div>
<% end %>