<header>
    <h1>
    <%=h @form.title %>
    </h1>   
    <p>
      <%=h @form.description %>
    </p>
</header>         

<% form_tag form_rows_path(@form),:class => 'conforge' do %>  
  <% @form.fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %> 
    <%= render :partial => '/forms/field', :object => field, :locals => {:parent => @form}%>
  <% end %>
<p>
  <%= submit_tag '提交' %>
</p>     
<% end %>