<h1>非常感谢！</h1>
<div class='desc'>
  <p><%= @form.thanks_message %></p> 
</div>

<p><a href="http://www.51qiangda.com" style="color: #bbb; padding-left: 12px; font-size: 12px;">抢答网技术支持</a></p>
<div style="clear:both;"></div>
 
 


