<h2>非常感谢！</h2>
<br />
<p><%= @form.thanks_message %></p>
<p><a href="http://www.51qiangda.com" style="color: #bbb; padding-left: 12px; font-size: 14px; float: right;">抢答网技术支持</a></p>
<div style="clear:both;"></div>
 
 


