<div class="options">
  <% field.options.each do |option| %>
    <%= render :partial => '/shared/check_option', :locals => {:value => option.value, :parent => parent, :field => field} %>
  <% end if field %>
  <% if field.nil? || field.options.size == 0 %>
    <%= render :partial => '/shared/check_option', :locals => {:value => '选项1', :parent => parent, :field => field} %>
  <% end %>
</div>
<div>
  <p>
    <input type="checkbox" style="opacity:0.5;"/>
    <%= text_field_tag "option", "", :onfocus => "field_add_option(this, 'check');", :style => "opacity:0.5;" %>
  </p>
  <% if false %><%= link_to '增加选项', '#', :onclick => "field_add_option(this, 'check')", :remote => true %><% end %>
</div>
