<div class="options">
  <% field.options.each do |option| %>
    <%= render :partial => '/shared/check_option', :locals => {:option => option, :parent => parent, :field => field} %>
  <% end if field %>
</div>
<p>
  <%= link_to '增加选项', '#', :onclick => "field_add_option(this, 'check')", :remote => true %>
</p>
