<!doctype html>      
<html lang="zh">
<head>
<%=render :partial => "/shared/scirpt_and_styles"%> 

 <script type="text/javascript" charset="utf-8">
   $(document).ready(function(){     
     $('.button').button();
     $("input[type='text']").addClass("text_input")  
   })        
 </script>
</head>

<body style="background:#FFF;">
  <div id="saving" style="display:none;">正在保存...</div>    
  <%= yield %>
</body>
</html>
