<div class='field'>
  <table class='grid' id='info_grid' cellspacing="0" cellpadding="0">
    <thead>
      <tr>  
        <th width="20%">问题</th>           
        <th width="80%">回答</th>
      </tr>
    </thead>
    <% @form.fields.sort {|f1, f2| f1.position <=> f2.position}.each do |field| %> 
      <tr>
        <td><%= field.name %></td>
        <td><%= row.send("f#{field.id}") %></td>
      </tr>
    <% end %>
  </table>
</div>
